*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-image: url("https://static.wikia.nocookie.net/log-horizon/images/9/9b/RTC.jpg/revision/latest?cb=20141219174242");
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
}
.container{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login{
    background-color: rgba(255,255,255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    width: 375px;
}
.loginbutton{
   margin-right: 85px;
}
.style1{
    text-align: center;
}