div{
    text-align: center;
}
h1,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table, tr, th, td {
    margin-left: auto;
    margin-right: auto;
    border-style:solid;
    border-color: aqua;
    font-size: medium;    
}
