{% extends 'base.html' %} 

{% block content %}
<style>
    *{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .element{
        display: flex;
        justify-content: center;
    }
    .h1{
        text-align: center;
    }
    body{
        background-color: honeydew;
    }

</style>

<body>
<h1 class="h1">Add New Product</h1>
<div class="element">
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Product"/>
            </td>
        </tr>
    </table>
</form>
</div>
</body>
{% endblock %}