{% extends 'base.html' %}
{% load static %}
{% block meta %}
<!DOCTYPE html>
<html lang="en">
<div>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
{% endblock meta %}
{% block content %}
<style>
    
</style>
<div class="container"></div>
    <div class="backgroundCard">
    <body>
        <h1>Welcome to Fantasy Guild Market!</h1>
        <h3>by {{name}} from {{class}}</h3>
        <h3 id = "amount">amount: {{ amount }} gil</h3>
        <table style="width: 80% ;">
            <tr>
                <th>NAME</th>
                <th>PRICE</th>
                <th>POWER</th>
                <th>DESCRIPTION</th>
                <th>Amount</th>
                <th>Qty</th>
                <th>Del</th>
                <th>Edit</th>
            </tr>
            {% for item in items %} 
            <tr class="row">
                <td>{{ item.name }}</td>
                <td>{{ item.price }} gil</td>
                <td>+{{ item.power }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.amount }}</td>
                <td>
                    <a href="increment/{{ item.id }}">
                        <button>
                            +
                        </button>
                    </a>
                    <a href="decrement/{{ item.id }}">
                        <button>
                            -
                        </button>
                    </a>
                </td>
                <td>
                    <a href="delete/{{ item.id }}">
                        <button>
                            X
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{% url 'main:edit_product' item.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                </td>
                
            </tr>
            {% endfor %}
        </table>

        <h3>total item in inventory: {{ items|length }}</h3>
        
        <a href="{% url 'main:create_product' %}">
            <button>
                Add New Product
            </button>
        </a>
        <a href="{% url 'main:logout' %}">
            <button>
                Logout
            </button>
        </a>

        <h5>Sesi terakhir login: {{ last_login }}</h5>
        
        {% if messages %}
            {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
            {% endfor %}
        {% endif %}
    </body>
    </div>
</div>
</html>
</div>

{% endblock content %}